{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}
<div style="background-image: url('../static/assets/img/hero.jpg') ;width: 100%; height: 100vh;background-size: cover;">
 <main id="main" >
 <section id="about" class="about">
      <div class="loc">
            <iframe style="border:0; width: 50%; height: 270px; align-items:center;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253956.41501509747!2d79.0633709894187!3d21.255101308188188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c0a5a31faf13%3A0x19b37d06d0bb3e2b!2sNagpur%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1624435523469!5m2!1sen!2sin" frameborder="0" allowfullscreen="" loading="lazy"></iframe>
        </div> 
 </section>
 </main>
</div>
{% endblock body %}