{% extends 'base.html' %}
{% block title %}fdwydf{% endblock title %}
{% block body %}
<section  class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" style="margin-top: 200px;">
        <h3>This is forgot username page</h3>
        <form action="/login/sendcode/" method="post">{% csrf_token %}
            <input type="text" placeholder="Enter your email" name="email">
            <button type="submit">Send Code</button>
        </form>
    </div>
  </section>
{% endblock %}

<!-- <h3>This is forgot username page</h3>
    <form action="/login/sendcode/" method="post">{% csrf_token %}
        <input type="text" placeholder="Enter your email" name="email">
        <button type="submit">Send Code</button>
    </form> -->
