<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/style1.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="imgbx">
            <img src="../static/assets/img/pexels-jess-bailey-designs-839443.jpg">
        </div>
        <div class="contentbx">
            <div class="formbx">
            <h2>Login</h2>
            <form>
                <div class="inputbx">
                    <span>Username</span>
                    <input type="text">
                </div>
                <div class="inputbx">
                    <span>password</span>
                    <input type="password">
                </div>
                <div class="remember">
                    <label><input type="checkbox" name=""> Remember me</label>
                </div>
                <div class="inputbx">
                    <input type="submit" value="Log in">
                </div>
                <div class="inputbx">
                    <p>Register <a href="#">Sign up</a></p>
                </div>
            </form>
        </div>
        </div>
    </section>  
</body>
</html>