{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block style %}
<link rel="stylesheet" href="../static/assets/css/style1.css">
{% endblock style %}
{% block body %}

 <main id="main" >
 <section id="about" class="about">
  
      <div class="contentbx" data-aos="fade-up">
        <div class="formbx">
          <h2>Log In</h2><br>
          <div class="inputbx">
          <p>Please Enter Your Credential To log in </p></div>
          <form method="post" action="/login/">{% csrf_token %}
                    <input class="inputbx" type="text" name="username" placeholder="Username"><br>
                    <input class="inputbx" type="password" name="password" placeholder="Password"><br>
                    <div class="inputbx">
                      <input type="submit" value="Login">
                    </div>
                    <a class="remember" href="/change_user/">Forgot Username</a>
                    <a class="remember" href="/change_pass/">| Forgot Password</a>
                    <div class="inputbx"><p>Don't have account Create one <a href="/signup">Signin</a></p> </div>
          </form>
        </div>  
      </div>
 </section>
 </main>
</div>
{% endblock body %}

