{% extends 'base.html' %}
{% block title %}Signin{% endblock title %}
{% block body %}
<div style="background-image: url('../static/assets/img/hero.jpg') ;width: 100%; height: 100vh;background-size: cover;" >
    <main id="main">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                   <form action="/sendcode/" method="post">{% csrf_token %}
                    <h3>Enter Details below to signup</h3>
                    <div class="container1"><input type="text" placeholder="First Name" id="fname" name="fname"></div>
                    <div class="container1"><input type="text" placeholder="Last Name" id="lname" name="lname"></div>
                    <div class="container1"><input type="email" placeholder="Email ID" id="email" name="email"></div>
                    <div class="container1"><input type="text" placeholder="Username" id="user" name="user"></div>
                    <div class="container1"><input type="password" placeholder="Password" id="pswd" name="password"></div>
                    <input type="checkbox" onclick="showpass()">Show Password

                    <div class="container1"><button type="submit" onclick="showme()" id="verify" style="background-color: rgb(91, 91, 105); color: white;">Register</button>
                    </div>
                    <div class="container1">Already have an account ?  <a href="/login/">Login</a> </div>
                </form>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock body %}