{% extends 'base.html' %}
{% block title %}Signin{% endblock title %}
{% block style %}
<link rel="stylesheet" href="../static/assets/css/style1.css">
{% endblock style %}
{% block body %}

    <main id="main">
        <section id="about" class="about">
            <div class="contentbx" data-aos="fade-up">
                    <div class="formbx">
                    <h2>Signin </h2><br>
                   <form action="/sendcode/" method="post">{% csrf_token %}
                    
                    <div class="inputbx"><input type="text" placeholder="First Name" id="fname" name="fname"></div>
                    <div class="inputbx"><input type="text" placeholder="Last Name" id="lname" name="lname"></div>
                    <div class="inputbx"><input type="email" placeholder="Email ID" id="email" name="email"></div>
                    <div class="inputbx"><input type="text" placeholder="Username" id="user" name="user"></div>
                    <div class="inputbx"><input type="password" placeholder="Password" id="pswd" name="password"></div>

                    <div class="inputbx">
                        <input type="submit" value="Signin">
                      </div>
                    <div class="inputbx"><p>Already have an account ?  <a href="/login/">Login</a></p> </div>
                </form>
                </div>
            </div>
        </section>
    </main>
</div>
{% endblock body %}