{% extends 'base.html' %}
{% block title %}Verify{% endblock title %}
{% block body %}
<div style="background-image: url('assets/img/hero.jpg');width: 100%; height: 100vh;background-size: cover;"
>
   <main id="main">
    <section id="about" class="about">
     <div class="container" data-aos="fade-up">
        <div class="section-title">
          
            <h2>Verification</h2>
            <p>Please Enter OTP sent To your email id </p>
             <form action="/verify_code/" method="post">{% csrf_token %}
              <input class="form-control" style="width:300px;margin-left: auto;margin-right: auto;" type="text" placeholder="Enter your code here" name="code" id="code"><br>
              <button type="submit">Verify1</button>
            </form> 
         
        </div>
      </div> 
        {% comment %} <form action="/verify_code/" method="post">{% csrf_token %}
    <input type="text" placeholder="Code Here" id="code" name="code">
    <button type="submit">Submit</button>
  </form> {% endcomment %}
    </section>
  </main>

</div>
{% endblock body %}