{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body class="bg">
    <div class="head">
        <ul class="list">
          <li class="op"><a class="link" aria-current="page" href="/">Home</a></li>
          <li class="op"><a class="link" href="/blog">Blogs</a></li>
          <li class="op"><a class="link" href="/chat">Chat Room</a></li>
          <li class="op"><a class="link" href="/videochat">Video Chat</a></li>
          <li class="op"><a class="link" href="#">About Us</a></li>
          <li class="op"><a class="link" href="#">Contact Us</a></li>
          {% if name is None %}
          <li class="op">  <a class="link" href="/signin">Sign Up</a></li>
          <li class="op">  <a class="link" href="/login">Login</a></li>
          {% else %}
          <li class="op">  <span class="link">Welcome!! {{name}}</span></li>
          <li class="op">  <a class="link" href="/logout">Logout</a> </li>
          {% endif %}
        </ul>
    </div>
    {% block body %} {% endblock %}
    <div class="foot">
        <div class="tp">
            <div class="tp1">
                <ul class="l">
                    <li class="cen serlist1">Services</li>
                    <li class="cen serlist2">s1</li>
                    <li class="cen serlist3">s2</li>
                    <li class="cen serlist4">s3</li>
                    <li class="cen serlist5">s4</li>
                </ul>
            </div>
            <div class="tp2">
                <ul class="l">
                    <li class="cen serlist1">About Us</li>
                    <li class="cen serlist2">s1</li>
                    <li class="cen serlist3">s2</li>
                    <li class="cen serlist4">s3</li>
                </ul>
            </div>
            <div class="tp3">
                <ul class="l">
                    <li class="cen serlist1">About Us</li>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde incidunt ad repellendus fuga alias nisi rem aliquid minima sit accusamus, minus optio animi, voluptatem numquam maiores hic nemo laboriosam nihil.
                </ul>
            </div>
        </div>
        
        <div class="bt">
            Contact Us
            <div class="social">
                <a href="#" class="soclink">Twitter</a>
                <a href="#" class="soclink">Facebook</a>
                <a href="#" class="soclink">Instagram</a>
                <a href="#" class="soclink">Google+</a>
            </div>
            Company Name &copy; 2021
        </div>
        
    </div>
</body>
</html>