<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up </title>
</head>
<body>
    <p>Hello</p>
    <p>Enter your details below</p>
    <form method="post" action="/signin/sign/"> {% csrf_token %}
        <input type="text" name="fname" id="fname" placeholder="First name" required>
        <input type="text" name="lname" id="lname" placeholder="Last name" required>
        <input type="email" name="email" id="email" placeholder="Email ID" required>
        <input type="text" name="user" id="user" placeholder="User name" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="checkbox" onclick="showpass()">Show Password
        <br><br>
        <button type="submit" onclick="showme()" id="verify">Verify Email</button>
        <a href="/login/">Login</a>
    </form>
    
</body>
<script>
    function showme(){
        document.getElementById("verify").innerHTML="Sending Code"
    }

    function showpass(){
        var x = document.getElementById("password");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
</html>